<h1>store.findRecord('hoge', id)</h1>

<p>
  {{model.label}} - {{model.value}}
</p>

<p>
  <code>store.findRecord</code>は、<code>reload: false</code>でも最初の一回目はAPIからの取得を行い、それ以降はキャッシュを利用する動きをする。
</p>
{{outlet}}
