<ul>
  <li>{{#link-to 'hoges'}}list{{/link-to}}</li>
  <li></li>
  <li>{{#link-to 'hoge.index' model.id}}default{{/link-to}}</li>
  <li>{{#link-to 'hoge.no-reload' model.id}}no-reload{{/link-to}}</li>
  <li>{{#link-to 'hoge.reload' model.id}}reload{{/link-to}}</li>
  <li>{{#link-to 'hoge.background-reload' model.id}}background-reload{{/link-to}}</li>
</ul>


{{outlet}}
