<ul>
  <li>{{#link-to 'hoges.index'}}default{{/link-to}}</li>
  <li>{{#link-to 'hoges.no-reload'}}no-relaod{{/link-to}}</li>
  <li>{{#link-to 'hoges.reload'}}relaod{{/link-to}}</li>
  <li>{{#link-to 'hoges.background-reload'}}background-reload{{/link-to}}</li>
</ul>

{{outlet}}
